html, body {
    height: 100%; 
    display: flex;
    flex-direction: column;
    background-image: url("universe.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover; 
}

.content-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin-top: 20px;
}

.sidebar {
    float: left; /* Moves the sidebar to the right */
    margin-right: 50px;
}

main {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
}

.text {
    margin-left: 50px;
}

.palette-title {
    text-align: center;
}


label, p, h1, input, button, h2{
    display: block;
    width: max-content; /* или конкретное значение, например, 200px */
    padding: .25em 0;
    background: hsla(0, 4%, 37%, 60%);
    color: white;
}
.color-picker {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px;
}

.picker-inputs{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#color-preview {
    height: 100%;
    width: auto;
    border: 1px solid #000;
    aspect-ratio: 1;
    margin: 20px;
 }


.sliders {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.text-inputs {
    margin-top: 20px;
    display: flex;
    gap: 10px;
}

.text-inputs input {
    padding: 10px;
}

.text-inputs input {
    text-align: center;
    background: hsla(0, 4%, 37%, 60%);
}

.buttons-for-palette {
    display: flex; 
    gap: 10px; 
    flex-direction: row; 
    justify-content: center; 
    margin-top: 20px; 
}

.buttons-for-palette button {
    display: flex;
    justify-content: center; /* Spread the buttons */
    border: 1px solid hsla(0, 4%, 37%, 60%); /* Gray border as requested */
    flex: 1; 
    white-space: nowrap;
    background: hsla(0, 4%, 37%, 60%);
    color: white; 
    cursor: pointer; 
    padding: 10px;
}



.palettes-box {
    display: grid;
    grid-template-columns: repeat(6, 1fr); /* 3 columns of equal width */
    grid-gap: 10px; /* Space between palettes */
  }
  
  .palette {
    cursor: pointer;
    border: 1px solid #ccc;
    border-radius: 5px; /* Optional: if you want rounded corners */
    overflow: hidden;
    aspect-ratio: 1;
    flex-wrap: wrap;
    min-width: 60px;
  }
  
  .color {
    width: 50%; /* 50% for a square layout */
    height: 50%; /* Same as width to maintain aspect ratio */
    float: left; /* Align samples in a row */
  }
.palette-title {
    text-align: center;
    margin-bottom: 20px; /* Spacing between the title and the palettes */
    margin-left: auto;
    margin-right: auto; 
}

.footer-container {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: 50px;
}

.stored-palettes {
    display: flex;
    flex-direction: column;
}
